---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from './../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>About</h1>
      <h3>I'm Victoria. A Web developer, creator and problem solver.</h3>
      <p>
        I haven't always been a developer. I hit the reset button on a previous
        career, turning from healthcare to software. I thought it would be a
        hard turn, but turns out being a healthcare provider made me a better
        developer.
      </p>
      <p>
        I think in the prospective of the user, and design applications through
        the lens of what the user wants and needs.
      </p>
      <p>
        I value accessibility and am adamant about following the POUR principles
        (percievable, operable, understandable, and robust) because I have seen
        the direct impacts difficult applications have on differently abled
        users.
      </p>
      <p>
        I know how to 'triage' issues and tasks, organizing them into levels
        priority and working effectively 'discharge' each task.
      </p>
      <p>
        Now, I am excited to begin my journey building web applications. What
        excites me most about working in software development is being able to
        design and create things that have purpose and solve real world
        problems. I love connecting users to data that makes their lives easier,
        whether that be in their personal or professional lives.
      </p>
    </main>
    <Footer />
    <style></style>
  </body>
</html>
