---
const today = new Date();
---

<footer>
  <p>
    Looking for a bit more? Check out my <a
      href="https://www.linkedin.com/in/victoria-mertens-878a571a3/"
      >LinkedIn
    </a> or <a href="https://twitter.com/vmertz44">Twitter</a>.
  </p>
  &copy; {today.getFullYear()} Victoria Mertens. All rights reserved.
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
