---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import ProjectDetailsSample from '../../components/ProjectDetailsSample.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>
        <mark>Presentation for Minnesota Women's Press Content Manager</mark>
      </h1>
    </main>

    <video controls autoplay muted>
      <source src="/compressed MWP presentation.mp4" type="video/mp4" />
    </video>

    <div class="description"></div>

    <Footer />
    <style>
      video {
        margin: auto;
        width: 100%;
        box-shadow: 10px 10px 15px;
      }
      h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      mark {
        background-color: rgba(138, 201, 240, 0.75);
        padding: 5px;
      }
      video {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        max-width: 1100px;
      }
    </style>
  </body>
</html>
